API_ID=32888493
API_HASH=08547bb8d8425d86dc84ebad36f33abc
BOT_TOKEN=8634568988:AAElaiZ39FOdn0YXvpiX7DDrYFnQA-Ej7u8
BOT_UN=Botconverter1_bot
LOG_CHANNEL=
ACCESS_CHANNEL=
AUTH_USERS=8322596991
MONGODB_URI=
FORCESUB=
FORCESUB_UN=
LOG_ID=
